*{
   padding:0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: #FFF9ca;
   color: #624D74;
   font-family: arial , sans-serif;
   font-size: 34px;  /*responsive*/
   font-weight: 500;
}



.topcontainer{
   height: 150px; /*responsive*/
   display: flex;
   align-items: center;
}



.scorebox{
   width: 150px;
   height: 150px;
}


.score{
   position: relative;
   text-align: center;

   font-size: 40px;

   margin-top: 35px;
   padding-right: 5px;
}


.controlbox{
   width: 150px;
   height: 150px;
   /* border-left: solid 3px; */
}
.startstop{
   display: inline-block;
   height: 30px;
   width: 30px;
   background-color: #7a71f4;
   border-radius: 15px;
   margin: 44px 54px;

}



.borderbox{
   width: 150px;
   height: 90px;
   float: left;
   position: relative;
}
.borderbox1{border-right: #859 solid 3px;
            margin-top: -89px;}
.borderbox2{border-left: #859 solid 3px;
            margin-top: -5px;
            width:3px;}




.middlebox{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 150px;
}
.toptimerbuffer{height: 1px;}
.gameArea{
   text-align: center;
   letter-spacing: 6px;
   font-size:38px;
   font-weight:700;
   padding: 10px;
}
.timerArea{
   height: 10px;
}
.timerholder{
   width:480px; height:8px;
   margin:auto;
   padding-top:2px;
}
.timebar{
   height:4px; width:480px;
   border-radius:3px;
   background-color:#EF835F;
}

span            {color: #92DACC;  font-weight:400; position: relative;}
.currentWord    {color: #7a71f4;  font-weight:600;}
.correctletter  {color: #92DACC;  font-weight:600;}
.incorrectletter{color: #999;     font-weight:500;}
.currentletter  {border-bottom: solid 5px #7a71f4;}











article{
   width: 1115px;
   margin: 40px auto 50px;
   padding-left: 35px;
   display: block;
}
.keyboardrow{
   display: block;
   margin-bottom: 7px;
}
figure{
   line-height: 100%;
   padding: 24px;
   height:86px;
   width: 86px;
   display: inline-block;
   border-radius: 70px;
   border: solid 2px;
   text-align: center;

}
.specialring{
   border: #7a71f4 solid 3px;
}
.illring.secondring {
   border-radius: 70px;
   display: inline-block;
   padding: 0px;
   font-weight: 749;
   border: #92DACC solid 3px;
}


.illring.ring70 , .illring.ring74{
   border: #7a71f4 solid 3px;
}

.appletter , .appring{
   display: none;
}

.illuminatestyleup{border-color: #92DACC; background-color:#FFF9ca ; color:#624D74;}
.illuminatestyledown{border-color: #92DACC; background-color: #92DACC; color:#624D74;}
.illuminateoffstyleup{border-color: #FFF9ca; background-color:#FFF9ca ; color:#FFF9ca;}
.illuminateoffstyledown{border-color: #92DACC; background-color:#FFF9ca ; color:#FFF9ca;}

.appearstyleup{border-color:#FFF9ca ; background-color:#FFF9ca ; color:#FFF9ca;}
.appearstyledown{border-color:#92DACC ; background-color:#92DACC ; color:#624D74;}
.appearoffstyleup{border-color:#FFF9ca ; background-color:#FFF9ca ; color:#FFF9ca; font-weight: 300;}
.appearoffstyledown{border-color:#92DACC ; background-color:#92DACC ; color:#624D74; font-weight: 300;}

.letterhover{border-color: #624D74; }
/* darker shade of light blue, this is too much */




.ring65{margin-left: 28px;}
.ring90{margin-left: 56px;}

figure:hover{
   background-color: #92DACC;
}












#bottomcontainer{
   display: flex;
   justify-content: flex-end;
   width: 950px;
}

.togglebutton ,#illuminatetoggle {
   border: solid 5px #92DACC;
   border-radius: 19px;
}

#illuminatetoggle{
   width:46px;
   height: 28px;
   margin-right: 25px;
   background-color: #92DACC;
}
#illuminatetoggle-inside{
   height: 18px;
   width: 18px;
   background-color: #FFF9ca;
   border-radius: 20px;
}
.floatright{float:right;}

.togglebutton{
   width:28px;
   height: 28px;
   margin-left: 8px;
   background-color: #92DACC;
}
.togglebutton-checked{
   background-color: #FFF9ca;
}

input[type="checkbox"]{
   display: none;
}








/*
#DBC8AB      sandy
#98AEAB      blue
#636069      dark


#EBD5B0      sandy
#7DB9AF      blue
#625D74      dark


#FAFCFC
#B7DCF4
#B5BDC4


#FFF9ca
#92DACC
#4A73B1
*/
