@import "styles/settings1";
@import "styles/top";
@import "styles/keyboard";


html{
   font-size: 2em;
}
*{
   padding:0rem;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: $background;
   color: $main-font;
   font-family: arial , sans-serif;
   font-size: 1em;  /*responsive  34px;*/
   font-weight: 500;
}

.hidden{display:none !important;}

.whole-thing{
    width: 100%;
    height: 100%;
    min-width: 10rem;
    min-height: 10rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    // justify-content: space-between; 
}
.buffer1{
    flex-grow: 1;
}
.buffer2{
    flex-grow: 5;
}


.splash-screen{
    position: absolute;
    background-color: $background;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 2s 1.5s, visibility 0s 3.5s;
    > img{
        position: absolute;
        bottom: 45%;
        left:25%;
        width:50%;
        transition: all 2s 1s;
    }
    .logo-bottom-right{
    width:14%;
    bottom: 3.5%;
    left: 2%;
    }
    .fast-trans{
        transition: opacity 0.5s 0s, visibility 0s 3.5s;
    }
    &.splash-screen-gone{
        opacity: 0;
        // display: none;
        visibility: hidden;
    }
}

.fast-trans{
        transition: opacity 1s 0.5s, visibility 0s 1s; 
    }



.first-instructions-box{
    text-align: center;
    img{
        width:35rem;
        margin-bottom: 1rem;
    }
    p{
        line-height: 155%;
        word-spacing: 0.15rem;
        font-size: 75%;
        color: $background;
        transition: all 1s 2s;
    }
    div{
    text-align: center;
    border: $background solid 0.08rem;
    border-radius: 1rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    padding: 0 0.9rem 0.1rem; 
    margin-top: 1.5rem;
    box-sizing: border-box;
    color: $highlights;
        color: $background;
        transition: all 1s 6s;
        
    &:hover{
    cursor:pointer;
      border-width: 0.12rem;
     }
    }

    &.new-color{
        p{color:$main-font}
        div{
            color:$highlights;
            border-color: $main-color;
        }
    }

    padding-bottom: 1.5rem;
}


.info-page{
    position: absolute;
    overflow: hidden;
    z-index:6;
    transition: all 1s;
    
    background-color: $background;
    border-radius: 2%;
    
    right: 3%;
    bottom: 3%;
    height: 1.3rem;
    width:  1.3rem;
    &.expanded-info{
        right:  0%;
        bottom: 0%;
        height: 100%;
        width:  100%;
        padding:0.5rem; 
    }
}
.info-icon{
    height: 1.3rem;
    width: 1.3rem;
    // background-color:$main-color;
    float: left;
    border-radius: 50%;
    svg{
        fill: $main-color;
    }
    &:not(.expanded-info){
        border: solid 0.1rem $main-color;
        padding: 0.14rem;
        .svg-delete{display: none;}
        .svg-i{display: block;}
    }
    &.expanded-info{
        border: none;
        padding: 0.2rem;
        .svg-delete{display: block;}
        .svg-i{display: none;}
    }
    &:hover{cursor:pointer;}       
}

.info-text{
    margin: 1rem auto 0;
    max-width: 35rem;
    padding: 0 2rem;
    h2{
        color: $highlights;
        margin-top: 1.6rem;
        text-decoration: underline;
        letter-spacing: 0.3rem;
        font-weight: 700;
        font-size: 88%;
    }
    h4{
        color: $highlights;
        font-size: 65%;
        margin-top: 0.4rem;
        margin-bottom:0.1rem;
    }
    p{
        color: $highlights;
        font-size: 60%;  
        line-height: 140%;
        word-spacing: 0.2rem;
    }
    br{
        display: block; 
        content: "";
        margin-top: 0.5rem; 
    }
    strong{
        font-weight: 900;
        color: $highlights;
    }
}







.whole-thing > img{
    z-index: 4;
    position: absolute;
    width:14%;
    bottom: 3.5%;
    left: 2%;
}




.togglebutton{
   width:28px;
   height: 28px;
   margin-left: 8px;
   background-color: $main-color;
}
.togglebutton ,#illuminatetoggle {
   border: solid 5px $main-color;
   border-radius: 19px;
}

#illuminatetoggle{
   width:46px;
   height: 28px;
   margin-right: 25px;
   background-color: $main-color;
}



.button{
   height:50px; width:50px;
   border:solid 3px $highlights;
   border-radius:0.3em;
   margin:6px;
   font-size: 0.5rem;
}

























#bottomcontainer{
   display: flex;
   justify-content: flex-end;
   width: 950px;
}



input[type="checkbox"]{
   display: none;
}








/*
92 - light blue
7A - bluey grey

#DBC8AB      sandy
#98AEAB      blue
#636069      dark


#EBD5B0      sandy
#7DB9AF      blue
#625D74      dark


#FAFCFC
#B7DCF4
#B5BDC4


#FFF9ca
$main-color
#4A73B1
*/
