@import "styles/settings/settings1";
@import "styles/top";
@import "styles/keyboard";


html{
   font-size: 2em;
}
*{
   padding:0rem;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: $background;
   color: $main-font;
   font-family: arial , sans-serif;
   font-size: 1em;  /*responsive  34px;*/
   font-weight: 500;
}

.hidden{display:none !important;}

.whole-thing{
    width: 100%;
    height: 100%;
    min-width: 10rem;
    min-height: 10rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    // justify-content: space-between; 
}
.buffer1{
    flex-grow: 1;
}
.buffer2{
    flex-grow: 5;
}


.splash-screen{
    position: absolute;
    background-color: $background;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 2s 1.5s;

    > img{
        position: absolute;
        bottom: 45%;
        left:25%;
        width:50%;
        transition: all 2s 1s;
    }
    .logo-bottom-right{
    width:14%;
    bottom: 3.5%;
    left: 2%;
    }
    &.splash-screen-gone{
        opacity: 0;
    }
}

.first-instructions-box{
    text-align: center;
    img{
        width:35rem;
        margin-bottom: 1rem;
    }
    p{
        line-height: 155%;
        word-spacing: 0.15rem;
        font-size: 75%;
        color: $background;
        transition: all 1s 2s;
    }
    div{
    text-align: center;
    border: $background solid 0.08rem;
    border-radius: 1rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    padding: 0 0.9rem 0.1rem; 
    margin-top: 1.5rem;
    box-sizing: border-box;
    color: $highlights;
        color: $background;
        transition: all 1s 6s;
        
    &:hover{
      border-width: 0.12rem;
     }
    }

    &.new-color{
        p{color:$main-font}
        div{
            color:$highlights;
            border-color: $main-color;
        }
    }

    padding-bottom: 1.5rem;
}






.whole-thing > img{
    position: absolute;
    width:14%;
    bottom: 3.5%;
    left: 2%;
}




.togglebutton{
   width:28px;
   height: 28px;
   margin-left: 8px;
   background-color: $main-color;
}
.togglebutton ,#illuminatetoggle {
   border: solid 5px $main-color;
   border-radius: 19px;
}

#illuminatetoggle{
   width:46px;
   height: 28px;
   margin-right: 25px;
   background-color: $main-color;
}



.button{
   height:50px; width:50px;
   border:solid 3px $highlights;
   border-radius:0.3em;
   margin:6px;
   font-size: 0.5rem;
}

























#bottomcontainer{
   display: flex;
   justify-content: flex-end;
   width: 950px;
}



input[type="checkbox"]{
   display: none;
}








/*
92 - light blue
7A - bluey grey

#DBC8AB      sandy
#98AEAB      blue
#636069      dark


#EBD5B0      sandy
#7DB9AF      blue
#625D74      dark


#FAFCFC
#B7DCF4
#B5BDC4


#FFF9ca
$main-color
#4A73B1
*/
